@{
    ViewBag.Title = "新增訂單";
}

<h2>新增訂單</h2>

<html>

<body>
    @using (Html.BeginForm("Insert", "Order", FormMethod.Post))
    {
        <table border="1" style="width:100%" border-collapse="collapse" class="table table-bordered">
            <tr>
                <th>訂單編號</th>
                <td colspan="3">
                    <input type="text" name="orderId" id="orderid" value="@ViewBag.orderId" readonly="readonly" required>
                </td>
            </tr>
            <tr>
                <th>客戶名稱</th>
                <td colspan="3">
                    <select name="custName" class="dropdown" required>
                        <option value="">請選擇客戶名稱</option>

                        @foreach (var item in (List<WorkShop.Models.Customers>)ViewBag.customer)
                        {
                            <option value="@item.CustomerID">@item.CompanyName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>負責員工名稱</th>
                <td colspan="3">
                    <select name="employeeName" class="dropdown" required>
                        <option value="">請選擇負責員工名稱</option>

                        @foreach (var item in (List<WorkShop.Models.Employees>)ViewBag.employee)
                        {
                            <option value="@item.EmployeeID">@item.LastName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>訂單日期</th>
                <td><input type="date" class="date" name="orderDate" required /></td>
                <th>需要日期</th>
                <td><input type="date" class="date" name="needDate" required /></td>
            </tr>
            <tr>
                <th>出貨日期</th>
                <td colspan="3"><input type="date" class="date" name="shipDate" required /></td>
            </tr>
            <tr>
                <th>出貨公司名稱</th>
                <td colspan="3">
                    <select name="shipCompanyName" class="dropdown" required>
                        <option value="">請選擇出貨公司名稱</option>

                        @foreach (var item in (List<WorkShop.Models.Shippers>)ViewBag.ShipCompany)
                        {
                            <option value="@item.ShipperID">@item.CompanyName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>運費</th>
                <td colspan="3"><input type="text" class="num" name="shipCost" id="shipCost" oninput="changeTotal()" value="0" /></td>
            </tr>
            <tr>
                <th>出貨國家</th>
                <td><input type="text" class="text" name="shipCountry" /></td>
                <th>出貨城市</th>
                <td><input type="text" class="text" name="shipCity" /></td>
            </tr>
            <tr>
                <th>出貨地區</th>
                <td><input type="text" class="text" name="shipRegion" /></td>
                <th>郵遞區號</th>
                <td><input type="text" class="num" name="shipAddressNo" /></td>
            </tr>
            <tr>
                <th>出貨地址</th>
                <td><input type="text" class="text" name="shipAddress" /></td>
                <th>出貨說明</th>
                <td><input type="text" class="text" name="shipDesc" /></td>
            </tr>
            <tr>
                <th>訂單金額總計</th>
                <td colspan="3"><input type="text" class="num" id="total" value="0"></td>
            </tr>
            <tr>
                <th></th>
                <td colspan="3">
                    <input type="submit" value="存檔" class="btn btn-primary">
                    <a href="/Order/Index"><input type="button" value="取消" class="btn btn-warning"></a>
                </td>
            </tr>

        </table>

        <br />
        <h5>訂單明細</h5>

    <input type="button" value="新增訂單" onclick="addRow()" class="btn btn-default" />

    <table id="orderDetailTable" border="1" style="width:100%" class="table table-bordered">
        <tr>
            <th>商品</th>
            <th>單價</th>
            <th>數量</th>
            <th>小計</th>
            <th></th>
        </tr>
    </table>
    }
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {

        $(".text").kendoMaskedTextBox();
        $("#orderid").kendoNumericTextBox({
            format: "#",
            min: 10248,
        });
        $(".num").kendoNumericTextBox({
            format: "#.##",
            min: 1,
        });
        $(".dropdown").kendoDropDownList();
        $(".date").kendoDatePicker({
            format: "yyyy/MM/dd",
            animation: {
                close: {
                    effects: "fadeOut zoom:out",
                    duration: 300
                },
                open: {
                    effects: "fadeIn zoom:in",
                    duration: 300
                }
            }
        });
        $(".btn").kendoButton();
    })

    var count = document.getElementById("orderDetailTable").rows.length - 1;

    function selectProduct(tr) {
        var product = document.createElement("td");
        var select = document.createElement("select");

        select.setAttribute("id", "product" + count);
        select.setAttribute("onchange", "changeProduct('product" + count + "')");
        select.setAttribute("name", "productName["+count+"]");
        select.setAttribute("class", "dropdown");
        select.appendChild(new Option("請選擇商品", ""));

        @foreach (var item in (List<WorkShop.Models.Products>)ViewBag.ProductData)
        {
            @: select.appendChild(new Option("@item.ProductName", "@item.ProductID"));
        }

        product.appendChild(select);
        tr.appendChild(product);
    }

    function priceText(tr) {
        var price = document.createElement("td");
        price.setAttribute("id", price);
        price.innerHTML = "<input type='text' id ='price" + count + "' name='price["+count+"]' value='0' oninput='changeSubtotal("+count+")' />";

        tr.appendChild(price);
    }

    function qtyText(tr) {
        var qty = document.createElement("td");
        qty.innerHTML = "<input type='text' id ='qty" + count + "' name='qty["+count+"]' value='1' oninput='changeSubtotal("+count+")' />";

        tr.appendChild(qty);
    }

    function subtotalText(tr) {
        var subtotal = document.createElement("td");
        subtotal.innerHTML = "<input type='text' id ='subtotal" + count + "' name='subtotal' value='0' disabled />";

        tr.appendChild(subtotal);
    }

    function cancelButton(tr) {
        var cancle = document.createElement("td");

        var button = document.createElement("button");

        button.innerText = "刪除";
        button.setAttribute("id", count);
        button.setAttribute("onclick", "delRow(" + count + ")");

        cancle.appendChild(button);
        tr.appendChild(cancle);
    }

    function addRow() {
        count++;
        var orderDetailTable = document.getElementById("orderDetailTable");

        var tableObjs = orderDetailTable.tBodies[0];
        var tr = document.createElement("tr");

        selectProduct(tr);
        priceText(tr);
        qtyText(tr);
        subtotalText(tr);
        cancelButton(tr);

        tableObjs.appendChild(tr);
    }

    function delRow(num) {
        var orderDetailTable = document.getElementById("orderDetailTable");

        if (num != count) {
            num++;
        }
        orderDetailTable.deleteRow(num);
        count--;
    }

    //選擇商品改變單價改變小計
    function changeProduct(selectID) {

        var select = document.getElementById(selectID);

        for (var i = 0; i < select.options.length; i++) {
            if (select.options[i].selected) {
                changePrice(select.options[i].value, select.id);
                changeTotal();
                break;
            }
        }

    }

    function changePrice(productId, selectId) {

        var id = selectId.substring(7);
        var price = document.getElementById("price"+id);
        var qty = document.getElementById("qty"+id);
        var subtotal = document.getElementById("subtotal"+id);

        $.ajax({
            type: "GET",
            url: "/Order/OrderPrice",
            data: {
                productId: productId
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                price.value = msg;
                subtotal.value = Math.round(msg * qty.value);
            }
        });
    }

    //修改單價或數量改變小計
    function changeSubtotal(idCount){
        var qty = document.getElementById("qty"+idCount);
        var price = document.getElementById("price"+idCount);
        var subtotal = document.getElementById("subtotal"+idCount);

        subtotal.value = Math.round(qty.value * price.value);
        changeTotal();
    }

    function changeTotal() {
        var value = 0;
        var subValue = 0;
        var shipCost = document.getElementById("shipCost");

        var length = document.getElementById("orderDetailTable").rows.length - 1;

        for (var i = 0; i < length; i++) {
            subValue = document.getElementsByName("subtotal")[i].value;
            value = Number(value) + Number(subValue);
            console.log(value);
        }
        value += Number(shipCost.value);
        document.getElementById("total").value = Math.round(value);
    }


</script>

