
@{
    ViewBag.Title = "查詢結果";
}

<h2>查詢結果</h2>
<html>

<body>
    <input type="button" value="回前頁" onclick="goback()" class="btn btn-primary" />
    <table id="searchTable" border="1" style="width:100%" border-collapse="collapse" class="table table-bordered">
        <tr>
            <th>訂單編號</th>
            <th>客戶名稱</th>
            <th>訂購日期</th>
            <th>發貨日期</th>
            <th></th>
        </tr>


        @foreach (var item in (List<WorkShop.Models.Orders>)ViewBag.orderdata)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Customers.CompanyName</td>
                <td>@item.OrderDate</td>
                <td>@item.ShippedDate</td>
                <td>
                    <a href="/Order/update?orderId=@item.OrderID"><input type="button" value="修改" class="btn btn-info" /></a>
                    <input type="button" name="cancelButton" value="刪除" onclick="delOrder('@item.OrderID')" class="btn btn-warning" />
                </td>
            </tr>
        }

    </table>
    <div id="dvGrid">

        <div id="orderId"></div>
    </div>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {

        $(".btn").kendoButton();

        
    })

    function delRow(num) {
        var orderDetailTable = document.getElementById("searchTable");

        if (num != count) {
            num++;
        }
        orderDetailTable.deleteRow(num);
        count--;
    }

    function delOrder(orderId) {

        $.ajax({
            type: "GET",
            url: "/Order/delete",
            data: {
                orderId: orderId
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });

        alert("刪除成功");
        document.location.reload();
    }

    function goback() {
        history.back();
    }


</script>
