
@{
    ViewBag.Title = "訂單修改";
}

<h2>訂單修改</h2>

<html>
<body onload="loadTable()">
    @using (Html.BeginForm("update", "Order", FormMethod.Post))
    {
        <table border="1" style="width:100%" border-collapse="collapse">
            <tr>
                <th>訂單編號</th>
                <td colspan="3">
                    <input type="text" name="orderId" value="@ViewBag.OrderData.OrderID" readonly="readonly" required>
                </td>
            </tr>
            <tr>
                <th>客戶名稱</th>
                <td colspan="3">
                    <select name="custName" required>
                        <option selected value="@ViewBag.CustomersCompanyId">@ViewBag.CustomersCompanyName</option>

                        @foreach (var item in (List<WorkShop.Models.Customers>)ViewBag.CompanyList)
                        {
                            <option value="@item.CustomerID">@item.CompanyName</option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <th>負責員工名稱</th>
                <td colspan="3">
                    <select name="employeeName" required>
                        <option selected value="@ViewBag.LastId">@ViewBag.LastName</option>

                        @foreach (var item in (List<WorkShop.Models.Employees>)ViewBag.lastNameList)
                        {
                            <option value="@item.EmployeeID">@item.LastName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>訂單日期</th>
                <td><input type="date" name="orderDate" value="@ViewBag.OrderDate" required /></td>
                <th>需要日期</th>
                <td><input type="date" name="needDate" value="@ViewBag.RequiredDate" required /></td>
            </tr>
            <tr>
                <th>出貨日期</th>
                <td colspan="3"><input type="date" name="shipDate" value="@ViewBag.ShippedDate" /></td>
            </tr>
            <tr>
                <th>出貨公司名稱</th>
                <td colspan="3">
                    <select id="ship" name="shipCompanyName">
                        <option selected value="@ViewBag.ShippersCompanyId">@ViewBag.ShippersCompanyName</option>

                        @foreach (var item in (List<WorkShop.Models.Shippers>)ViewBag.shipList)
                        {
                            <option value="@item.ShipperID">@item.CompanyName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th>運費</th>
                <td colspan="3"><input type="text" id="shipCost" name="shipCost" value="@ViewBag.OrderData.Freight" oninput="changeTotal()" /></td>
            </tr>
            <tr>
                <th>出貨國家</th>
                <td><input type="text" name="shipCountry" value="@ViewBag.OrderData.ShipCountry" /></td>
                <th>出貨城市</th>
                <td><input type="text" name="shipCity" value="@ViewBag.OrderData.ShipCity" /></td>
            </tr>
            <tr>
                <th>出貨地區</th>
                <td><input type="text" name="shipRegion" value="@ViewBag.OrderData.ShipRegion" /></td>
                <th>郵遞區號</th>
                <td><input type="text" name="shipAddressNo" value="@ViewBag.OrderData.ShipPostalCode" /></td>
            </tr>
            <tr>
                <th>出貨地址</th>
                <td><input type="text" name="shipAddress" value="@ViewBag.OrderData.ShipAddress" /></td>
                <th>出貨說明</th>
                <td><input type="text" name="shipDesc" value="@ViewBag.OrderData.ShipName" /></td>
            </tr>
            <tr>
                <th>訂單金額總計</th>
                <td colspan="3"><input type="text" id="total" value="@ViewBag.total" disabled></td>
            </tr>
            <tr>
                <th></th>
                <td colspan="3">
                    <input type="submit" value="存檔">
                    <a href=""><input type="button" value="刪除本筆訂單"></a>
                    <a href="/Order/search?employee=00&ship=00"><input type="button" value="取消"></a>
                </td>
            </tr>

        </table>
       
        <br/>
        <h5>訂單明細</h5>

        <input type="button" value="新增訂單" onclick="addRow()" />

        <table id="orderDetailTable" border="1" style="width:100%">
            <tr>
                <th>商品</th>
                <th>單價</th>
                <th>數量</th>
                <th>小計</th>
                <th></th>
            </tr>
        </table>
    }
</body>
</html>
<script type="text/javascript">

    //table row length
    var count = document.getElementById("orderDetailTable").rows.length - 1;

    function loadTable() {

        var orderDetailTable = document.getElementById("orderDetailTable");
        var tableObjs = orderDetailTable.tBodies[0];

        @foreach (var item in (List<WorkShop.Models.OrderDetails>)ViewBag.orderDetail)
        {

            @:count++;
                    @:var tr = document.createElement("tr");
                    @:var product = document.createElement("td");

            //select option
            @:var select = document.createElement("select");
                    @:select.setAttribute("id", "product" + count);
                    @:select.setAttribute("onchange", "changeProduct('product" + count + "')");
                    @:select.setAttribute("name", "productName");
                    @:select.appendChild(new Option("@item.Products.ProductName", "@item.ProductID"));

            foreach (var tmp in (List<WorkShop.Models.Products>)ViewBag.ProductData)
            {
                @: select.appendChild(new Option("@tmp.ProductName", "@tmp.ProductID"));
                    }

            @:product.appendChild(select);

            //pricetext
            @:var price = document.createElement("td");
                    @:price.innerHTML = "<input type='text' id ='price" + count + "' name='price' value = '@item.UnitPrice' oninput='changeSubtotal("+count+")'/>";

            //qtytext
            @:var qty = document.createElement("td");
                    @:qty.innerHTML = "<input type='text' id='qty"+count+"' name='qty' value='@item.Qty' oninput='changeSubtotal("+count+")'/>";

            //subtotaltext
            @:var sum = @item.UnitPrice * @item.Qty;
                    @:var subtotal = document.createElement("td");
                    @:subtotal.innerHTML = "<input type='text' id='subtotal" + count + "' name='subtotal' value='"+sum+"' onchange='changeTotal()' disabled />";

            //cancelbutton
            @:var cancle = document.createElement("td");
                    @:var button = document.createElement("button");

            @:button.innerText = "刪除";
                    @:button.setAttribute("id", count);
                    @:button.setAttribute("onclick", "delRow(" + count + ")");

            @:cancle.appendChild(button);


            @:tr.appendChild(product);
                    @:tr.appendChild(price);
                    @:tr.appendChild(qty);
                    @:tr.appendChild(subtotal);
                    @:tr.appendChild(cancle);
                    @:tableObjs.appendChild(tr);
                }



    }


    function selectProduct(tr) {
        var product = document.createElement("td");
        var select = document.createElement("select");

        select.setAttribute("id", "product" + count);
        select.setAttribute("onchange", "changeProduct('product" + count + "')");
        select.setAttribute("name", "productName");

        select.appendChild(new Option("請選擇商品", ""));

        @foreach (var item in (List<WorkShop.Models.Products>)ViewBag.ProductData)
        {
            @: select.appendChild(new Option("@item.ProductName", "@item.ProductID"));
        }

        product.appendChild(select);
        tr.appendChild(product);
    }

    function priceText(tr) {
        var price = document.createElement("td");
        price.setAttribute("id", price);
        price.innerHTML = "<input type='text' id ='price" + count + "' name='price' value='0' oninput='changeSubtotal("+count+")' />";

        tr.appendChild(price);
    }

    function qtyText(tr) {
        var qty = document.createElement("td");
        qty.innerHTML = "<input type='text' id ='qty" + count + "' name='qty' value='1' oninput='changeSubtotal("+count+")' />";

        tr.appendChild(qty);
    }

    function subtotalText(tr) {
        var subtotal = document.createElement("td");
        subtotal.innerHTML = "<input type='text' id ='subtotal" + count + "' name='subtotal' value='0' disabled />";

        tr.appendChild(subtotal);
    }

    function cancelButton(tr) {
        var cancle = document.createElement("td");

        var button = document.createElement("button");

        button.innerText = "刪除";
        button.setAttribute("id", count);
        button.setAttribute("onclick", "delRow(" + count + ")");

        cancle.appendChild(button);
        tr.appendChild(cancle);
    }

    function addRow() {
        count++;
        var orderDetailTable = document.getElementById("orderDetailTable");

        var tableObjs = orderDetailTable.tBodies[0];
        var tr = document.createElement("tr");

        selectProduct(tr);
        priceText(tr);
        qtyText(tr);
        subtotalText(tr);
        cancelButton(tr);

        tableObjs.appendChild(tr);
    }

    function delRow(num) {
        var orderDetailTable = document.getElementById("orderDetailTable");

        if (num != count) {
            num++;
        }
        orderDetailTable.deleteRow(num);
        count--;
    }

    //選擇商品改變單價改變小計
    function changeProduct(selectID) {

        var select = document.getElementById(selectID);

        for (var i = 0; i < select.options.length; i++) {
            if (select.options[i].selected) {
                changePrice(select.options[i].value, select.id);
                changeTotal();
                break;
            }
        }

    }

    function changePrice(productId, selectId) {

        var id = selectId.substring(7);
        var price = document.getElementById("price"+id);
        var qty = document.getElementById("qty"+id);
        var subtotal = document.getElementById("subtotal"+id);

        $.ajax({
            type: "GET",
            url: "/Order/OrderPrice",
            data: {
                productId: productId
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                price.value = msg;
                subtotal.value = Math.round(msg * qty.value);
            }
        });
    }

    //修改單價或數量改變小計
    function changeSubtotal(idCount){
        var qty = document.getElementById("qty"+idCount);
        var price = document.getElementById("price"+idCount);
        var subtotal = document.getElementById("subtotal"+idCount);

        subtotal.value = Math.round(qty.value * price.value);
        changeTotal();
    }

    function changeTotal(){
        var total = document.getElementById("total");
        var shipCost = document.getElementById("shipCost");

        total = 0;
        var length = document.getElementById("orderDetailTable").rows.length-1;
        var subtotalSum = 0;
        for(var i=0;i<length;i++){
            subtotalSum = subtotalSum +  document.getElementsByName("subtotal")[i].value;
        }
        total.value = subtotalSum - shipCost.value;
    }


</script>

